@import "src/assets/styles/variables.scss";

.content {
  section {
    margin: 3rem 0 2rem;
    p {
      line-height: 1.3rem;
    }
  }
  .price {
    margin: 0;
    span {
      color: $color_4;
      text-decoration: line-through;
      margin-left: 1rem;
    }
  }

  .form-group {
    margin: 3.5rem 0 2rem;

    label {
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
    }

    select {
      width: 150px;
      padding: 0.5rem;
      border-radius: 0.2rem;
      border-color: $color_4;
      text-transform: capitalize;
      outline-color: $color_3;
    }
  }
}
