@import "src/assets/styles/variables.scss";

.footer {
  margin-top: 2rem;
  border-top: 1px solid $color_2;

  button {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    color: $color_1;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: $color_3;
    border: 2px solid transparent;
    padding: 1rem 1.75rem;
    width: 100%;
    max-width: 250px;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;

    &:disabled {
      opacity: 0.75;
      cursor: initial;
    }
  }
}
