@import "src/assets/styles/variables.scss";
@import "src/assets/styles/mixin.scss";

section {
  img {
    max-width: 300px;
    margin: auto;

    @include minScreen("tablet") {
      max-width: 580px;
    }
  }
}
