@import "src/assets/styles/variables.scss";
@import "src/assets/styles/mixin.scss";

body {
  background-color: $color_2;
  font-family: $font_1;
}

.App {
  max-width: 1024px;
  margin: auto;
  background: $color_1;
  display: block;

  @include minScreen("tablet") {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col-left,
  .col-right {
    @include minScreen("tablet") {
      width: 50%;
    }
  }

  .col-left {
    @include minScreen("tablet") {
      border-right: 1px solid $color_2;
    }
  }
}

img {
  width: 100%;
  display: block;
}

section {
  p {
    line-height: 1.3rem;
  }
}

button {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 400;
  color: $color_1;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $color_3;
  border: 3px solid transparent;
  padding: 1rem 1.75rem;
  min-width: 250px;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: $transition_3;

  &:hover {
    background-color: transparent;
    border: 3px solid $color_3;
    color: $color_3;
  }
}

.pt-3 {
  padding-top: 3rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}
