@import "src/assets/styles/variables.scss";
@import "src/assets/styles/mixin.scss";

body {
  background-color: $color_2;
}

#root {
  padding: 1rem;
}

.App {
  max-width: 1440px;
  margin: auto;
  background: $color_1;
  padding: 1rem;

  @include minScreen("tablet") {
    display: flex;
  }

  .col-left {
  }

  .col-right {
  }
}

img {
  width: 100%;
  display: block;
}
