/* Color */
$color_1: #fff;
$color_2: #ededed;
$color_3: #3f87f5;
$color_4: #c7c7c7;

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

$font_1: "Roboto Condensed", sans-serif;
